# Indice

- [0.- Introduccion](#0--introduccion)
- [1.- Importar librerias necesarias](#1--importar-librerias-necesarias)
- [2.- Extraccion de datos de ACS](#2--extraccion-de-datos-de-acs)
  - [2.1.- Extraccion de datos del Balance General de ACS entre 2019 y 2023](#21--extraccion-de-datos-del-balance-general-de-acs-entre-2019-y-2023)
  - [2.2.- Extraccion de datos de Estado de Resultados (Cuenta de Perdidas y Ganancias) de ACS entre 2019 y 2023](#22--extraccion-de-datos-de-estado-de-resultados-cuenta-de-perdidas-y-ganancias-de-acs-entre-2019-y-2023)
  - [2.3.- Extraccion de datos de Flujos de caja de ACS entre 2019 y 2023](#23--extraccion-de-datos-de-flujos-de-caja-de-acs-entre-2019-y-2023)
  - [2.4.- Extraccion de datos de cotizaciones de precios de acciones entre 2019 y 2023](#24--extraccion-de-datos-de-cotizaciones-de-precios-de-acciones-entre-2019-y-2023)
- [3.- Guardar datos en archivos CSV](#3--guardar-datos-en-archivos-csv)
- [4.- Ratios Financieros](#4--ratios-financieros)
  - [4.1.- Ratios de Liquidez](#41--ratios-de-liquidez)
  - [4.2.- Ratios de Solvencia](#42--ratios-de-solvencia)
  - [4.3.- Ratios de Rentabilidad](#43--ratios-de-rentabilidad)
  - [4.4.- Ratios de Eficiencia](#44--ratios-de-eficiencia)
  - [4.5.- Ratios de Flujos de Caja](#45--ratios-de-flujos-de-caja)
  - [4.6.- Ratios de Valoracion](#46--ratios-de-valoracion)
  - [4.7.- Ratios de Crecimiento](#47--ratios-de-crecimiento)
  - [4.8.- Ratios de Rendimiento de Mercado](#48--ratios-de-rendimiento-de-mercado)

# 0.- Introduccion

Este informe presenta un análisis fundamental de la empresa ACS, enfocándose en varios aspectos financieros clave a lo largo del período de 2019 a 2023. Se estructurará en diferentes secciones que abarcan desde la extracción y procesamiento de datos hasta el cálculo y análisis de diversos ratios financieros.

Primero, se importan las librerías necesarias para llevar a cabo el análisis. Esta sección prepara el entorno de trabajo con las herramientas y paquetes de Python relevantes para la manipulación y visualización de datos.

A continuación, se procede a la extracción de datos de ACS. Esta sección se divide en varias subsecciones, donde se recopilan datos del balance general, estado de resultados, flujos de caja, y cotizaciones de precios de acciones. Estos datos son fundamentales para el análisis posterior y se obtienen de fuentes confiables.

Posteriormente, se guardan los datos extraídos en archivos CSV, facilitando su manejo y reutilización en futuros análisis. Este paso asegura que los datos estén bien organizados y fácilmente accesibles para cualquier revisión posterior.

La siguiente sección se dedica a la evaluación de ratios financieros. Se calcula una variedad de ratios que incluyen liquidez, solvencia, rentabilidad, eficiencia, flujos de caja, valoración, crecimiento y rendimiento de mercado. Cada subsección proporciona una visión detallada de cada tipo de ratio, ayudando a entender la situación financiera de ACS desde múltiples perspectivas.

Finalmente, el informe concluye con una interpretación de los resultados obtenidos, proporcionando una visión general sobre la salud financiera de ACS y destacando áreas clave de interés para inversores y analistas financieros. Este análisis integral permite tomar decisiones informadas basadas en datos concretos y precisos.

# 1.- Importar librerias necesarias

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os

import yfinance as yf

# 2.- Extraccion de datos de ACS

Vamos a extraer los datos financieros de la empresa ACS como ejemplo.

Esto servirá como empresa prueba para la posterior extracción de datos de las demás empresas del IBEX 35.

Los datos financieros que podemos extraer desde YF acerca de las empresas son los siguientes:

1) Balance General (Balance Sheet)

2) Estado de Resultados ó Cuenta de Pérdidas y Ganancias (Income Statement)

3) Flujos de Caja (Cash Flow)

4) Cotizaciones de las acciones ó Precios históricos de la empresa (Market Share - Historical Data)

5) Datos de Dividendos (Dividends)

6) Recomendaciones de Analistas (Recommendations)

7) Accionistas institucionales (Institutional Holders)

8) Accionistas principales (Major Holders)

En nuestro caso, vamos a extraer el Balance General (1), el Estado de Resultados (2) , los Flujos de Caja (3) y las Cotizaciones de las acciones (4).

Primero extraeremos todos los datos financieros a partir del ticker de ACS:MC en Yahoo Finance.

In [2]:
# Ticker de la empresa
ticker = 'ACS.MC'
empresa = yf.Ticker(ticker)

## 2.1.- Extraccion de datos del Balance General de ACS entre 2019 y 2023

Los datos de Balance General se pueden ver en los siguientes enlaces:

Versión ENG
https://finance.yahoo.com/quote/ACS.MC/balance-sheet/

Versión ESP
https://es.finance.yahoo.com/quote/ACS.MC/balance-sheet/

In [3]:
balance = empresa.balance_sheet

In [4]:
# Inspeccionamos las columnas disponibles
print("Columnas del Balance General:", balance.columns)

Columnas del Balance General: DatetimeIndex(['2023-12-31', '2022-12-31', '2021-12-31', '2020-12-31',
               '2019-12-31'],
              dtype='datetime64[ns]', freq=None)

In [5]:
balance.head()

,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Treasury Shares Number,17558400.0,25904654.0,28876676.0,26529421.0,NaN
Ordinary Shares Number,260606194.0,258259940.0,275787918.0,284135173.0,NaN
Share Issued,278164594.0,284164594.0,304664594.0,310664594.0,NaN
Net Debt,600989000.0,870822000.0,NaN,3329116000.0,2162423000.0
Total Debt,10392009000.0,10996610000.0,10986496000.0,11782680000.0,NaN

In [6]:
# Comprobación de cuantos NaN hay en cada columna
balance.isnull().sum()

2023-12-31     6
2022-12-31     3
2021-12-31     6
2020-12-31     7
2019-12-31    80
dtype: int64

In [7]:
# Sustitución de los NaN por 0
balance = balance.fillna(0)
balance.head()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_15284\2228153603.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  balance = balance.fillna(0)

,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Treasury Shares Number,1.755840e+07,2.590465e+07,2.887668e+07,2.652942e+07,0.000000e+00
Ordinary Shares Number,2.606062e+08,2.582599e+08,2.757879e+08,2.841352e+08,0.000000e+00
Share Issued,2.781646e+08,2.841646e+08,3.046646e+08,3.106646e+08,0.000000e+00
Net Debt,6.009890e+08,8.708220e+08,0.000000e+00,3.329116e+09,2.162423e+09
Total Debt,1.039201e+10,1.099661e+10,1.098650e+10,1.178268e+10,0.000000e+00

In [8]:
# Añadimos dos numeros decimales a los numeros dentro de las columnas
#balance = balance.round(2)
#balance.head()

#No es necesario añadir dos decimales puesto que con la siguiente celda se realiza automaticamente

In [9]:
# Configurar pandas para que no use notación científica y muestre dos decimales
pd.options.display.float_format = '{:,.2f}'.format

In [10]:
balance.head()

,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Treasury Shares Number,"17,558,400.00","25,904,654.00","28,876,676.00","26,529,421.00",0.00
Ordinary Shares Number,"260,606,194.00","258,259,940.00","275,787,918.00","284,135,173.00",0.00
Share Issued,"278,164,594.00","284,164,594.00","304,664,594.00","310,664,594.00",0.00
Net Debt,"600,989,000.00","870,822,000.00",0.00,"3,329,116,000.00","2,162,423,000.00"
Total Debt,"10,392,009,000.00","10,996,610,000.00","10,986,496,000.00","11,782,680,000.00",0.00

In [11]:
# Los numeros que se muestran en la web, estaban mostrados en miles. Aquí, ya se han exportado de forma automatica en miles

## 2.2.- Extraccion de datos de Estado de Resultados (Cuenta de Perdidas y Ganancias) de ACS entre 2019 y 2023

Los datos de Estados de Resultados se pueden ver en los siguientes enlaces:

Versión ENG
https://finance.yahoo.com/quote/ACS.MC/financials/

Versión ESP
https://es.finance.yahoo.com/quote/ACS.MC/financials/

In [12]:
cuenta_PyG = empresa.financials
# cuenta_PyG acrónimo de cuenta de Pérdidas y Ganancias

In [13]:
# Inspeccionamos las columnas disponibles
print("Columnas del Estado de Resultados:", cuenta_PyG.columns)

Columnas del Estado de Resultados: DatetimeIndex(['2023-12-31', '2022-12-31', '2021-12-31', '2020-12-31',
               '2019-12-31'],
              dtype='datetime64[ns]', freq=None)

In [14]:
cuenta_PyG.head()

,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Tax Effect Of Unusual Items,"105,677,550.00","247,267,759.00","-85,653,564.00","478,591,848.00",NaN
Tax Rate For Calcs,0.28,0.27,0.31,0.38,NaN
Normalized EBITDA,"1,852,566,000.00","1,194,342,000.00","1,082,844,000.00","758,725,000.00",NaN
Total Unusual Items,"384,282,000.00","919,211,000.00","-277,196,000.00","1,266,116,000.00",NaN
Total Unusual Items Excluding Goodwill,"384,282,000.00","919,211,000.00","-277,196,000.00","1,266,116,000.00",NaN

In [15]:
# Comprobación de cuantos NaN hay en cada columna
cuenta_PyG.isnull().sum()

2023-12-31     1
2022-12-31     0
2021-12-31     0
2020-12-31     0
2019-12-31    47
dtype: int64

In [16]:
# Sustitución de los NaN por 0
cuenta_PyG = cuenta_PyG.fillna(0)
cuenta_PyG.head()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_15284\40269722.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cuenta_PyG = cuenta_PyG.fillna(0)

,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Tax Effect Of Unusual Items,"105,677,550.00","247,267,759.00","-85,653,564.00","478,591,848.00",0.00
Tax Rate For Calcs,0.28,0.27,0.31,0.38,0.00
Normalized EBITDA,"1,852,566,000.00","1,194,342,000.00","1,082,844,000.00","758,725,000.00",0.00
Total Unusual Items,"384,282,000.00","919,211,000.00","-277,196,000.00","1,266,116,000.00",0.00
Total Unusual Items Excluding Goodwill,"384,282,000.00","919,211,000.00","-277,196,000.00","1,266,116,000.00",0.00

In [17]:
# Los numeros que se muestran en la web, estaban mostrados en miles. Aquí, ya se han exportado de forma automatica en miles

## 2.3.- Extraccion de datos de Flujos de caja de ACS entre 2019 y 2023

Los datos de Flujos de caja se pueden ver en los siguientes enlaces:

Versión ENG
https://finance.yahoo.com/quote/ACS.MC/cash-flow/

Versión ESP
https://es.finance.yahoo.com/quote/ACS.MC/cash-flow/

In [18]:
flujos_caja = empresa.cashflow

In [19]:
print("Columnas del Flujo de Caja:", flujos_caja.columns)

Columnas del Flujo de Caja: DatetimeIndex(['2023-12-31', '2022-12-31', '2021-12-31', '2020-12-31',
               '2019-12-31'],
              dtype='datetime64[ns]', freq=None)

In [20]:
flujos_caja.head()

,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Free Cash Flow,"1,006,805,000.00","1,458,163,000.00","-183,066,000.00","265,227,000.00",NaN
Repurchase Of Capital Stock,"-1,081,954,000.00","-2,294,674,000.00","-493,055,000.00","-1,193,042,000.00",NaN
Repayment Of Debt,NaN,"-4,080,176,000.00","-4,362,179,000.00","-5,881,261,000.00","-4,362,786,000.00"
Issuance Of Debt,NaN,"3,703,193,000.00","4,634,213,000.00","7,785,734,000.00","6,434,556,000.00"
Issuance Of Capital Stock,"18,248,000.00","61,202,000.00","8,363,000.00","19,719,000.00",NaN

In [21]:
# Comprobación de cuantos NaN hay en cada columna
flujos_caja.isnull().sum()

2023-12-31    12
2022-12-31     6
2021-12-31     7
2020-12-31     6
2019-12-31    36
dtype: int64

In [22]:
# Sustitución de los NaN por 0
flujos_caja = flujos_caja.fillna(0)
flujos_caja.head()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_15284\169139717.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  flujos_caja = flujos_caja.fillna(0)

,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Free Cash Flow,"1,006,805,000.00","1,458,163,000.00","-183,066,000.00","265,227,000.00",0.00
Repurchase Of Capital Stock,"-1,081,954,000.00","-2,294,674,000.00","-493,055,000.00","-1,193,042,000.00",0.00
Repayment Of Debt,0.00,"-4,080,176,000.00","-4,362,179,000.00","-5,881,261,000.00","-4,362,786,000.00"
Issuance Of Debt,0.00,"3,703,193,000.00","4,634,213,000.00","7,785,734,000.00","6,434,556,000.00"
Issuance Of Capital Stock,"18,248,000.00","61,202,000.00","8,363,000.00","19,719,000.00",0.00

In [23]:
# Los numeros que se muestran en la web, estaban mostrados en miles. Aquí, ya se han exportado de forma automatica en miles

## 2.4.- Extraccion de datos de cotizaciones de precios de acciones entre 2019 y 2023

In [24]:
ticker = 'ACS.MC'
start_date = '2019-01-01'
end_date = '2023-12-31'

In [25]:
acs_data = yf.download(ticker, start=start_date, end=end_date)

[*********************100%%**********************]  1 of 1 completed

In [26]:
acs_data

            Open  High   Low  Close  Adj Close   Volume
Date
2019-01-02 33.28 33.28 32.25  32.86      21.78   579957
2019-01-03 32.52 33.24 32.42  32.94      21.83   826120
2019-01-04 33.31 33.60 33.18  33.43      22.16   962645
2019-01-07 33.71 33.91 33.24  33.54      22.23  1501743
2019-01-08 33.53 34.23 33.45  33.89      22.46  1264760
...          ...   ...   ...    ...        ...      ...
2023-12-21 38.90 39.31 38.90  39.31      37.35   437354
2023-12-22 39.33 39.49 39.20  39.41      37.44   221249
2023-12-27 39.34 39.70 39.14  39.70      37.72   341177
2023-12-28 39.59 39.81 39.57  39.65      37.67   287405
2023-12-29 39.54 40.27 39.54  39.70      37.72   355152

[1281 rows x 6 columns]

In [27]:
acs_data.isnull().sum()

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [28]:
acs_data = acs_data.fillna(0)

In [29]:
acs_data.to_csv('Data/acs_historical_data.csv')

# 3.- Guardar datos en archivos CSV

In [30]:
# Ruta de la carpeta Data
data_folder = 'Data'
os.makedirs(data_folder, exist_ok=True)

In [31]:
# Definir las rutas de los archivos CSV

#balance_csv_path = os.path.join(data_folder, 'balance.csv')
#cuenta_PyG_csv_path = os.path.join(data_folder, 'cuenta_PyG.csv')
#flujos_caja_csv_path = os.path.join(data_folder, 'flujos_caja.csv')

In [32]:
# Guardar los DataFrames en archivos CSV incluyendo los índices

#balance.to_csv(balance_csv_path, index=True)
#cuenta_PyG.to_csv(cuenta_PyG_csv_path, index=True)
#flujos_caja.to_csv(flujos_caja_csv_path, index=True)

# 4.- Ratios Financieros

In [33]:
# Leer los archivos CSV en DataFrames
balance = pd.read_csv('Data/balance.csv', index_col=0)
cuenta_PyG = pd.read_csv('Data/cuenta_PyG.csv', index_col=0)
flujos_caja = pd.read_csv('Data/flujos_caja.csv', index_col=0)
acs_data = pd.read_csv('Data/acs_historical_data.csv', index_col=0)

In [34]:
balance.head()

,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Treasury Shares Number,"17,558,400.00","25,904,654.00","28,876,676.00","26,529,421.00",0.00
Ordinary Shares Number,"260,606,194.00","258,259,940.00","275,787,918.00","284,135,173.00",0.00
Share Issued,"278,164,594.00","284,164,594.00","304,664,594.00","310,664,594.00",0.00
Net Debt,"600,989,000.00","870,822,000.00",0.00,"3,329,116,000.00","2,162,423,000.00"
Total Debt,"10,392,009,000.00","10,996,610,000.00","10,986,496,000.00","11,782,680,000.00",0.00

In [35]:
cuenta_PyG.head()

,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Tax Effect Of Unusual Items,"105,677,550.00","247,267,759.00","-85,653,564.00","478,591,848.00",0.00
Tax Rate For Calcs,0.28,0.27,0.31,0.38,0.00
Normalized EBITDA,"1,852,566,000.00","1,194,342,000.00","1,082,844,000.00","758,725,000.00",0.00
Total Unusual Items,"384,282,000.00","919,211,000.00","-277,196,000.00","1,266,116,000.00",0.00
Total Unusual Items Excluding Goodwill,"384,282,000.00","919,211,000.00","-277,196,000.00","1,266,116,000.00",0.00

In [36]:
flujos_caja.head()

,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Free Cash Flow,"1,006,805,000.00","1,458,163,000.00","-183,066,000.00","265,227,000.00",0.00
Repurchase Of Capital Stock,"-1,081,954,000.00","-2,294,674,000.00","-493,055,000.00","-1,193,042,000.00",0.00
Repayment Of Debt,0.00,"-4,080,176,000.00","-4,362,179,000.00","-5,881,261,000.00","-4,362,786,000.00"
Issuance Of Debt,0.00,"3,703,193,000.00","4,634,213,000.00","7,785,734,000.00","6,434,556,000.00"
Issuance Of Capital Stock,"18,248,000.00","61,202,000.00","8,363,000.00","19,719,000.00",0.00

In [47]:
acs_data.head()

            Open  High   Low  Close  Adj Close   Volume
Date
2019-01-02 33.28 33.28 32.25  32.86      21.78   579957
2019-01-03 32.52 33.24 32.42  32.94      21.83   826120
2019-01-04 33.31 33.60 33.18  33.43      22.16   962645
2019-01-07 33.71 33.91 33.24  33.54      22.23  1501743
2019-01-08 33.53 34.23 33.45  33.89      22.46  1264760

In [48]:
# Resample stock data to yearly frequency, taking the last value of each year
acs_data.index = pd.to_datetime(acs_data.index)
acs_yearly = acs_data.resample('Y').last()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_15284\1522549944.py:3: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  acs_yearly = acs_data.resample('Y').last()

In [49]:
# Asegurar que las fechas de los DataFrames coincidan
balance.columns = pd.to_datetime(balance.columns).year
cuenta_PyG.columns = pd.to_datetime(cuenta_PyG.columns).year
flujos_caja.columns = pd.to_datetime(flujos_caja.columns).year
acs_yearly.index = acs_yearly.index.year

In [52]:
balance.head()

,2023,2022,2021,2020,2019
Treasury Shares Number,"17,558,400.00","25,904,654.00","28,876,676.00","26,529,421.00",0.00
Ordinary Shares Number,"260,606,194.00","258,259,940.00","275,787,918.00","284,135,173.00",0.00
Share Issued,"278,164,594.00","284,164,594.00","304,664,594.00","310,664,594.00",0.00
Net Debt,"600,989,000.00","870,822,000.00",0.00,"3,329,116,000.00","2,162,423,000.00"
Total Debt,"10,392,009,000.00","10,996,610,000.00","10,986,496,000.00","11,782,680,000.00",0.00

In [53]:
cuenta_PyG.head()

,2023,2022,2021,2020,2019
Tax Effect Of Unusual Items,"105,677,550.00","247,267,759.00","-85,653,564.00","478,591,848.00",0.00
Tax Rate For Calcs,0.28,0.27,0.31,0.38,0.00
Normalized EBITDA,"1,852,566,000.00","1,194,342,000.00","1,082,844,000.00","758,725,000.00",0.00
Total Unusual Items,"384,282,000.00","919,211,000.00","-277,196,000.00","1,266,116,000.00",0.00
Total Unusual Items Excluding Goodwill,"384,282,000.00","919,211,000.00","-277,196,000.00","1,266,116,000.00",0.00

In [54]:
flujos_caja.head()

,2023,2022,2021,2020,2019
Free Cash Flow,"1,006,805,000.00","1,458,163,000.00","-183,066,000.00","265,227,000.00",0.00
Repurchase Of Capital Stock,"-1,081,954,000.00","-2,294,674,000.00","-493,055,000.00","-1,193,042,000.00",0.00
Repayment Of Debt,0.00,"-4,080,176,000.00","-4,362,179,000.00","-5,881,261,000.00","-4,362,786,000.00"
Issuance Of Debt,0.00,"3,703,193,000.00","4,634,213,000.00","7,785,734,000.00","6,434,556,000.00"
Issuance Of Capital Stock,"18,248,000.00","61,202,000.00","8,363,000.00","19,719,000.00",0.00

In [55]:
acs_yearly.head()
# cada año dentro del Date, corresponde al último día de cada año

      Open  High   Low  Close  Adj Close  Volume
Date
2019 34.67 35.39 34.62  35.24      24.61  401274
2020 27.10 27.26 26.84  26.84      20.35  384120
2021 22.95 23.31 22.95  23.30      18.97  646847
2022 26.63 26.78 26.40  26.46      23.54  469415
2023 39.54 40.27 39.54  39.70      37.72  355152

In [56]:
# Filtrar los años de interés
years = [2019, 2020, 2021, 2022, 2023]
balance = balance[years]
cuenta_PyG = cuenta_PyG[years]
flujos_caja = flujos_caja[years]
acs_yearly = acs_yearly.loc[years]

## 4.1.- Ratios de Liquidez

In [58]:
def calcular_ratios_liquidez(balance, flujos_caja):
    return pd.DataFrame({
        'Current Ratio': balance.loc['Current Assets'] / balance.loc['Current Liabilities'],
        'Quick Ratio': (balance.loc['Current Assets'] - balance.loc['Inventory']) / balance.loc['Current Liabilities'],
        'Cash Ratio': balance.loc['Cash Cash Equivalents And Short Term Investments'] / balance.loc['Current Liabilities'],
        'Operating Cash Flow Ratio': flujos_caja.loc['Operating Cash Flow'] / balance.loc['Current Liabilities']
    })

In [59]:
ratios_liquidez = calcular_ratios_liquidez(balance, flujos_caja)
ratios_liquidez

      Current Ratio  Quick Ratio  Cash Ratio  Operating Cash Flow Ratio
2019            NaN          NaN         NaN                        NaN
2020           1.08         1.05        0.40                       0.05
2021           1.43         1.39        0.71                       0.01
2022           1.28         1.23        0.53                       0.09
2023           1.20         1.16        0.51                       0.08

In [74]:
ratios_liquidez = ratios_liquidez.T.reset_index().rename(columns={'index': 'Ratios'})
ratios_liquidez

                      Ratios  2019  2020  2021  2022  2023
0              Current Ratio   NaN  1.08  1.43  1.28  1.20
1                Quick Ratio   NaN  1.05  1.39  1.23  1.16
2                 Cash Ratio   NaN  0.40  0.71  0.53  0.51
3  Operating Cash Flow Ratio   NaN  0.05  0.01  0.09  0.08

## 4.2.- Ratios de Solvencia

In [60]:
def calcular_ratios_solvencia(balance, cuenta_PyG):
    return pd.DataFrame({
        'Debt to Equity': balance.loc['Total Liabilities Net Minority Interest'] / balance.loc['Stockholders Equity'],
        'Equity Ratio': balance.loc['Stockholders Equity'] / balance.loc['Total Assets'],
        'Debt Ratio': balance.loc['Total Liabilities Net Minority Interest'] / balance.loc['Total Assets'],
        'Interest Coverage Ratio': cuenta_PyG.loc['EBIT'] / cuenta_PyG.loc['Interest Expense']
    })

In [61]:
ratios_solvencia = calcular_ratios_solvencia(balance, cuenta_PyG)
ratios_solvencia

      Debt to Equity  Equity Ratio  Debt Ratio  Interest Coverage Ratio
2019             NaN           NaN         NaN                      NaN
2020            9.37          0.09        0.89                     4.71
2021            4.52          0.18        0.80                     1.21
2022            5.63          0.15        0.83                     3.08
2023            5.79          0.15        0.85                     3.02

## 4.3.- Ratios de Rentabilidad

In [62]:
def calcular_ratios_rentabilidad(balance, cuenta_PyG):
    return pd.DataFrame({
        'Gross Margin': cuenta_PyG.loc['Gross Profit'] / cuenta_PyG.loc['Total Revenue'],
        'Net Profit Margin': cuenta_PyG.loc['Net Income'] / cuenta_PyG.loc['Total Revenue'],
        'Return on Assets': cuenta_PyG.loc['Net Income'] / balance.loc['Total Assets'],
        'Return on Equity': cuenta_PyG.loc['Net Income'] / balance.loc['Stockholders Equity'],
        'Operating Margin': cuenta_PyG.loc['Operating Income'] / cuenta_PyG.loc['Total Revenue'],
        'EBITDA Margin': cuenta_PyG.loc['Normalized EBITDA'] / cuenta_PyG.loc['Total Revenue'],
        'Return on Capital Employed (ROCE)': cuenta_PyG.loc['EBIT'] / (balance.loc['Total Assets'] - balance.loc['Current Liabilities'])
    })

In [63]:
ratios_rentabilidad = calcular_ratios_rentabilidad(balance, cuenta_PyG)
ratios_rentabilidad

,Gross Margin,Net Profit Margin,Return on Assets,Return on Equity,Operating Margin,EBITDA Margin,Return on Capital Employed (ROCE)
2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020,0.30,0.02,0.02,0.16,-0.01,0.03,0.08
2021,0.32,0.11,0.09,0.48,0.02,0.04,0.02
2022,0.30,0.02,0.02,0.12,0.01,0.04,0.08
2023,0.32,0.02,0.02,0.15,0.02,0.05,0.10

## 4.4.- Ratios de Eficiencia

In [64]:
def calcular_ratios_eficiencia(balance, cuenta_PyG):
    days_in_year = 365
    return pd.DataFrame({
        'Asset Turnover': cuenta_PyG.loc['Total Revenue'] / balance.loc['Total Assets'],
        'Inventory Turnover': cuenta_PyG.loc['Cost Of Revenue'] / balance.loc['Inventory'],
        'Receivables Turnover': cuenta_PyG.loc['Total Revenue'] / balance.loc['Accounts Receivable'],
        'Days Sales Outstanding': days_in_year / (cuenta_PyG.loc['Total Revenue'] / balance.loc['Accounts Receivable']),
        'Days Inventory Outstanding': days_in_year / (cuenta_PyG.loc['Cost Of Revenue'] / balance.loc['Inventory']),
        'Days Payables Outstanding': days_in_year / (cuenta_PyG.loc['Cost Of Revenue'] / balance.loc['Accounts Payable']),
        'Cash Conversion Cycle': (days_in_year / (cuenta_PyG.loc['Total Revenue'] / balance.loc['Accounts Receivable'])) + 
                                  (days_in_year / (cuenta_PyG.loc['Cost Of Revenue'] / balance.loc['Inventory'])) - 
                                  (days_in_year / (cuenta_PyG.loc['Cost Of Revenue'] / balance.loc['Accounts Payable']))
    })

In [65]:
ratios_eficiencia = calcular_ratios_eficiencia(balance, cuenta_PyG)
ratios_eficiencia

,Asset Turnover,Inventory Turnover,Receivables Turnover,Days Sales Outstanding,Days Inventory Outstanding,Days Payables Outstanding,Cash Conversion Cycle
2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020,0.78,28.66,3.45,105.87,12.73,153.45,-34.85
2021,0.78,25.60,4.16,87.67,14.26,114.12,-12.19
2022,0.89,28.19,4.55,80.17,12.95,111.32,-18.20
2023,0.98,30.95,4.51,80.90,11.79,108.25,-15.56

## 4.5.- Ratios de Flujos de Caja

In [66]:
def calcular_ratios_flujo_caja(balance, flujos_caja, cuenta_PyG):
    return pd.DataFrame({
        'Operating Cash Flow Ratio': flujos_caja.loc['Operating Cash Flow'] / balance.loc['Current Liabilities'],
        'Free Cash Flow': flujos_caja.loc['Operating Cash Flow'] - flujos_caja.loc['Capital Expenditure'],
        'Cash Flow Margin': flujos_caja.loc['Operating Cash Flow'] / cuenta_PyG.loc['Total Revenue'],
        'Cash Flow to Debt': flujos_caja.loc['Operating Cash Flow'] / balance.loc['Total Liabilities Net Minority Interest'],
        'Capital Expenditure Ratio': flujos_caja.loc['Capital Expenditure'] / flujos_caja.loc['Operating Cash Flow']
    })

In [67]:
ratios_flujo_caja = calcular_ratios_flujo_caja(balance, flujos_caja, cuenta_PyG)
ratios_flujo_caja

,Operating Cash Flow Ratio,Free Cash Flow,Cash Flow Margin,Cash Flow to Debt,Capital Expenditure Ratio
2019,NaN,0.00,NaN,NaN,NaN
2020,0.05,"2,018,149,000.00",0.04,0.03,-0.77
2021,0.01,"589,348,000.00",0.01,0.01,-1.90
2022,0.09,"2,028,513,000.00",0.05,0.06,-0.16
2023,0.08,"1,997,869,000.00",0.04,0.05,-0.33

## 4.6.- Ratios de Valoracion

In [68]:
def calcular_ratios_valuacion(balance, cuenta_PyG, acs_yearly):
    return pd.DataFrame({
        'Price to Earnings (P/E)': acs_yearly['Close'] / (cuenta_PyG.loc['Net Income'] / balance.loc['Ordinary Shares Number']),
        'Price to Book (P/B)': acs_yearly['Close'] / (balance.loc['Stockholders Equity'] / balance.loc['Ordinary Shares Number']),
        'Price to Sales (P/S)': acs_yearly['Close'] / (cuenta_PyG.loc['Total Revenue'] / balance.loc['Ordinary Shares Number']),
        'Dividend Yield': (flujos_caja.loc['Cash Dividends Paid'] / balance.loc['Ordinary Shares Number']) / acs_yearly['Close'],
        'Earnings Yield': (cuenta_PyG.loc['Net Income'] / balance.loc['Ordinary Shares Number']) / acs_yearly['Close'],
        'EV/EBITDA': ((acs_yearly['Close'] * balance.loc['Ordinary Shares Number']) + balance.loc['Total Debt'] - balance.loc['Cash Cash Equivalents And Short Term Investments']) / cuenta_PyG.loc['Normalized EBITDA']
    })

In [69]:
ratios_valuacion = calcular_ratios_valuacion(balance, cuenta_PyG, acs_yearly)
ratios_valuacion

,Price to Earnings (P/E),Price to Book (P/B),Price to Sales (P/S),Dividend Yield,Earnings Yield,EV/EBITDA
2019,NaN,NaN,NaN,NaN,NaN,NaN
2020,13.28,2.16,0.26,-0.06,0.08,13.78
2021,2.11,1.01,0.23,-0.06,0.47,4.73
2022,10.23,1.23,0.20,-0.05,0.10,6.21
2023,13.26,1.94,0.29,-0.04,0.08,5.77

## 4.7.- Ratios de Crecimiento

In [70]:
def calcular_ratios_crecimiento(cuenta_PyG):
    return pd.DataFrame({
        'EPS Growth': cuenta_PyG.loc['Net Income'].pct_change(),
        'Revenue Growth': cuenta_PyG.loc['Total Revenue'].pct_change()
    })

In [71]:
ratios_crecimiento = calcular_ratios_crecimiento(cuenta_PyG)
ratios_crecimiento

      EPS Growth  Revenue Growth
2019         NaN             NaN
2020         inf             inf
2021        4.31           -0.05
2022       -0.78            0.21
2023        0.17            0.06

## 4.8.- Ratios de Rendimiento de Mercado

In [72]:
def calcular_ratios_rendimiento_mercado(acs_yearly, flujos_caja, cuenta_PyG):
    return pd.DataFrame({
        'Total Shareholder Return (TSR)': (acs_yearly['Close'].pct_change() + (flujos_caja.loc['Cash Dividends Paid'] / balance.loc['Ordinary Shares Number']) / acs_yearly['Close']),
        'Alpha': None,  # Se necesita el índice de referencia para calcularlo
        'Beta': acs_yearly['Close'].pct_change().cov(acs_yearly['Close'].pct_change()) / acs_yearly['Close'].pct_change().var()
    })

In [73]:
ratios_rendimiento_mercado = calcular_ratios_rendimiento_mercado(acs_yearly, flujos_caja, cuenta_PyG)
ratios_rendimiento_mercado

      Total Shareholder Return (TSR) Alpha  Beta
Date
2019                             NaN  None  1.00
2020                           -0.30  None  1.00
2021                           -0.19  None  1.00
2022                            0.08  None  1.00
2023                            0.46  None  1.00